// Primary Colors
$primary: #4CAF50;
$secondary: #f4f4f4;
$accent: #646cff;
$hover: #535bf2;
$color-upcoming: #E6C767;
$black: #111;
$gray: rgba(255, 255, 255, 0.15);
$dark-gray: rgba(0, 0, 0, 0.50);
$blue: $hover;
$white: #fff;
$background-white: white;
$background-footer: #f2f2f2;


// Neutral Colors
$background: #242424; 
$text: $black; 
$footer-background: #333; 
$content-background: $white;
$border: #ccc; 

