body,
button,
p,
span {
  font-family: "Source Sans 3", sans-serif;
  color: #333333;
}

p {
  font-size: 16px;
}

:root {
  --primary-color: #1db954;
  --secondary-color: #dddddd;
  --transparent-black: rgba(0, 0, 0, 0.04);
  --container-bg-color: #e6fdf9;
  --transition-duration: 1s;
}